@use '../mixins' as mixins;

.adventageSection {
    height: 355px;
    margin-inline: auto;
    font-family: "Source Serif 4", serif;
    margin-bottom: 60px;
    @include mixins.screen-respond(medium-screens) {
        height: auto;
    }
    @include mixins.screen-respond(handhelds) {
        height: auto;
    }
    @include mixins.screen-respond(phones) {
        height: auto;
    }
}

.wrapperAdventage {
    display: flex;
    gap: 160px;
    @include mixins.screen-respond(large-medium-screens) {
        gap: 13%;
    }
    @include mixins.screen-respond(medium-screens) {
        flex-direction: column;
        gap: 60px;
        width: 50%;
        margin-inline: auto;
        .card {
            width: 70%;
        }
    }
    @include mixins.screen-respond(handhelds) {
        flex-direction: column;
        gap: 60px;
        width: 70%;
        margin-inline: auto;
        .card {
            width: 100%;
        }
    }
    @include mixins.screen-respond(phones) {
        flex-direction: column;
        gap: 60px;
        width: 70%;
        margin-inline: auto;
        .card {
            width: 100%;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    h3 {
        font-weight: 400;
    }

    img {
        width: 40px;
    }
    @include mixins.screen-respond(medium-screens) {
        width: 281px;
        margin-inline: auto;
    }
    @include mixins.screen-respond(handhelds) {
        width: 281px;
        margin-inline: auto;
        margin-inline: auto;
    }
    @include mixins.screen-respond(phones) {
        width: 281px;
        margin-inline: auto;
        margin-inline: auto;
    }
}