@use '../mixins' as mixins;

.section {
    margin-inline: auto;
    margin-bottom: 60px;
    width: 1200px;
    @include mixins.screen-respond(large-medium-screens) {
        width: 90%;
        aspect-ratio: 16/10;
    }
    @include mixins.screen-respond(medium-screens) {
        width: 90%;
    }
    @include mixins.screen-respond(handhelds) {
        width: 90%;
    }
    @include mixins.screen-respond(phones) {
        width: 90%;
    }
}