.button {
    height: 56px;
    border: none;
    font-family: 'Roboto', sansserif;
    font-size: 20px;
    font-weight: 200;
    background-color: rgba(249, 249, 249, 1);
    color: black;
    width: 281px;
    cursor: pointer;
}