@use '../mixins' as mixins;
@use '../varibales' as variables;

.section-main{
    display: flex;
    //height: 683px;
    color: white;
    padding-top: 140px;
    @include mixins.screen-respond(medium-screens) {
        flex-direction: column;
    }
    @include mixins.screen-respond(handhelds) {
        flex-direction: column;
    }
    @include mixins.screen-respond(phones) {
        flex-direction: column;
    }
}

.section-main__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 724px;
    padding: 50px 70px 0 60px;
    background-color: variables.$backgroun-color;
    @include mixins.screen-respond(large-medium-screens) {
        @media (max-width: 970px) {
            width: 57%;
            padding: 25px 20px 0 20px;
            gap: 20px;
        }
        
    }
    @include mixins.screen-respond(medium-screens) {
        @media (max-width: 970px) {
            width: 100%;
            padding: 50px 70px 50px 60px;
            gap: 20px;
        }
        
    }
    @include mixins.screen-respond(handhelds) {
        @media (max-width: 970px) {
            width: 100%;
            padding: 50px 40px 50px 40px;
            gap: 20px;
        }
        
    }
    @include mixins.screen-respond(phones) {
        @media (max-width: 970px) {
            width: 100%;
            padding: 50px 40px 50px 40px;
            gap: 20px;
        }
        
    }
}

.section-main__p {
    font-size: 24px;
    font-weight: 400;
    @include mixins.screen-respond(large-medium-screens) {
        @media (max-width: 970px) {
            font-size: 20px;
        }
    }
    @include mixins.screen-respond(handhelds) {
        @media (max-width: 970px) {
            font-size: 20px;
        }
    }
    @include mixins.screen-respond(phones) {
        @media (max-width: 970px) {
            font-size: 20px;
        }
    }
}

.section-main__p-cooperation {
    font-size: 20px;
    font-weight: 300;
    @include mixins.screen-respond(large-medium-screens) {
        @media (max-width: 970px) {
            font-size: 16px;
        }
    }
}

.buildingPng {
    overflow: hidden;
    width: 256px;
    margin-left: auto;
    @include mixins.screen-respond(large-medium-screens) {
        display: none;
    }
    @include mixins.screen-respond(medium-screens) {
        display: none;
    }
    @include mixins.screen-respond(handhelds) {
        display: none;
    }
    @include mixins.screen-respond(phones) {
        display: none;
    }
}