@use '../mixins' as mixins;

.serv-card {
    justify-content: space-between;
    height: 630px;
    @include mixins.screen-respond(large-medium-screens) {
        width: 30%;
    }
    @include mixins.screen-respond(medium-screens) {
        height: 610px;
    }
    @include mixins.screen-respond(handhelds) {
        height: 610px;
    }
    @include mixins.screen-respond(phones) {
        height: 610px;
    }
}