@use '../varibales' as variables;
@use '../mixins' as mixins;

section.room-section {
    height: 677px;
    width: 100%;
    background-color: variables.$backgroun-color;
    @include mixins.screen-respond(large-medium-screens) {
        aspect-ratio: 16/10;
        height: auto;
    }
}

.wrapper {
    //width: 1200px;
    margin-inline: auto;
    display: flex;
    gap: 160px;
    img {
        width: 281px;
        @include mixins.screen-respond(large-medium-screens) {
            width: 100%;
        }
    }
    @include mixins.screen-respond(large-medium-screens) {
        gap: 10%;
    }
}

.room-container {
    color: white;
    h2 {
        padding-block: 20px;
    }
    width: 1200px;
    margin-inline: auto;
    @include mixins.screen-respond(large-medium-screens) {
        width: 90%;
        
    }
}