@use '../varibales' as variables;
@use '../mixins' as mixins;

#map {
    width: 100%;
    height: 300px;
}

.footer-wrapper {
    height: auto;
    background-color: variables.$backgroun-color;
    color: white;
    font-weight: 400;
    
}

.footer-container {
    width: 1200px;
    margin-inline: auto;
    height: auto;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mixins.screen-respond(large-medium-screens) {
        width: 90%;
    }
    @include mixins.screen-respond(medium-screens) {
        width: 90%;
    }
    @include mixins.screen-respond(handhelds) {
        width: 90%;
    }
    @include mixins.screen-respond(phones) {
        width: 90%;
    }
}

.upperWrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4E4D93;
    padding:  15px;
    @include mixins.screen-respond(medium-screens) {
        flex-direction: column-reverse;
        gap: 30px;
    }
    @include mixins.screen-respond(handhelds) {
        flex-direction: column-reverse;
        gap: 30px;
    }
    @include mixins.screen-respond(phones) {
        flex-direction: column-reverse;
        gap: 30px;
    }
}

.lowerWrapper {
    display: flex;
    justify-content: space-between;
    @include mixins.screen-respond(phones) {
        flex-direction: column;
        gap: 20px;
    }
}   

.locationFooter {
    display: flex;
    img {
        width: 22px;
        margin-right: 10px;
    }
    align-items: center;
}

.booking {
    display: flex;
    span:first-child {
        display: block;
        margin-block: auto;
        margin-right: 21px;
    }
    font-size: 20px;
    @include mixins.screen-respond(large-medium-screens) {
        @media (max-width: 900px) {
            font-size: 16px;
            span:first-child {
                margin-right: 11px;
            }
        }
    }
    @include mixins.screen-respond(medium-screens) {

        font-size: 16px;
        span:first-child {
            margin-right: 11px;
        }
        
    }
    @include mixins.screen-respond(handhelds) {

        font-size: 16px;
        span:first-child {
            margin-right: 11px;
        }
        
    }
    @include mixins.screen-respond(phones) {

        font-size: 16px;
        span:first-child {
            margin-right: 11px;
        }

    }
}

.booking > span {
    @include mixins.screen-respond(handhelds) {
        display: none !important;
    }
    @include mixins.screen-respond(phones) {
        display: none !important;
    }
}

.phoneNums {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: underline;
    padding-left: 20px;
    border-left: 2px solid white;
    @include mixins.screen-respond(large-medium-screens) {
        @media (max-width: 900px) {
            
            padding-left: 11px;
        
        }
    }
    @include mixins.screen-respond(medium-screens) {
        @media (max-width: 900px) {
            
            padding-left: 11px;
        
        }
    }
    @include mixins.screen-respond(handhelds) {
        @media (max-width: 900px) {
            
            padding-left: 11px;
        
        }
    }
    @include mixins.screen-respond(phones) {
        @media (max-width: 900px) {
            
            padding-left: 11px;
        
        }
    }
}

.copyrights {
    display: flex;
    width: 150px;
    align-items: center;
    img {
        width: 22px;
        margin-right: 10px;
    }
}

.refIcons {
    display: flex;
    gap: 30px;
    margin-right: 60px;
    img:last-child {
        width: 20px;
    }
    @include mixins.screen-respond(handhelds) {
        margin-right: 0;
    }
    @include mixins.screen-respond(phones) {
        margin-right: 0;
    }
}