@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
.spanLogo {
  font-family: "Oswald", serif;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.header {
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  background-color: white;
  z-index: 3;
}

.nav {
  display: flex;
  margin-left: auto;
  gap: 70px;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .nav {
    padding-top: 5px;
    gap: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .nav {
    display: none;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .nav {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .nav {
    display: none;
  }
}

.header__nav-button {
  background-color: #fff;
  border: none;
  font-size: 14px;
}
.header__nav-button a {
  text-decoration: none;
  color: black;
}

.panel {
  display: flex;
  width: 1200px;
  height: 80px;
  margin-inline: auto;
  align-items: center;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .panel {
    width: 90%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .panel {
    width: 90%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .panel {
    width: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .panel {
    width: 90%;
  }
}

.menu {
  display: none;
}
@media only screen and (max-width: 400px) {
  .menu {
    display: flex;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .menu {
    display: flex;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .menu {
    display: flex;
  }
}

.menu {
  position: relative; /* Родительский контейнер для абсолютного позиционирования */
  margin-left: auto;
}

.menu-list {
  position: absolute;
  top: 33px; /* Меню будет появляться ниже кнопки */
  left: -172px; /* Меню появится слева */
  background: #3B3A63;
  list-style: none;
  padding: 10px;
  margin: 5px 0 0 0; /* Отступ вниз */
  display: none;
  width: 182px; /* Ширина меню (можно настроить) */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для красивого эффекта */
}

/* Показываем меню при нажатии */
.menu-visible {
  display: block;
}

/* Стили ссылок */
.menu-list a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}

.menu-list a:hover {
  background: #ddd;
  color: black;
}

/* Анимация появления */
.menu-list {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-visible {
  opacity: 1;
  transform: translateY(0);
}

.adventageSection {
  height: 355px;
  margin-inline: auto;
  font-family: "Source Serif 4", serif;
  margin-bottom: 60px;
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .adventageSection {
    height: auto;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .adventageSection {
    height: auto;
  }
}
@media only screen and (max-width: 400px) {
  .adventageSection {
    height: auto;
  }
}

.wrapperAdventage {
  display: flex;
  gap: 160px;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .wrapperAdventage {
    gap: 13%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .wrapperAdventage {
    flex-direction: column;
    gap: 60px;
    width: 50%;
    margin-inline: auto;
  }
  .wrapperAdventage .card {
    width: 70%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .wrapperAdventage {
    flex-direction: column;
    gap: 60px;
    width: 70%;
    margin-inline: auto;
  }
  .wrapperAdventage .card {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .wrapperAdventage {
    flex-direction: column;
    gap: 60px;
    width: 70%;
    margin-inline: auto;
  }
  .wrapperAdventage .card {
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card h3 {
  font-weight: 400;
}
.card img {
  width: 40px;
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .card {
    width: 281px;
    margin-inline: auto;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .card {
    width: 281px;
    margin-inline: auto;
    margin-inline: auto;
  }
}
@media only screen and (max-width: 400px) {
  .card {
    width: 281px;
    margin-inline: auto;
    margin-inline: auto;
  }
}

.button-book {
  width: 170px;
  height: 56px;
  border: none;
  font-family: "Roboto", sansserif;
  font-size: 20px;
  font-weight: 200;
  background-color: rgba(249, 249, 249, 0.15);
  color: white;
  cursor: pointer;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) and (max-width: 1024px) {
  .button-book {
    display: none;
  }
}

.section-main {
  display: flex;
  color: white;
  padding-top: 140px;
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .section-main {
    flex-direction: column;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .section-main {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  .section-main {
    flex-direction: column;
  }
}

.section-main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 724px;
  padding: 50px 70px 0 60px;
  background-color: #2A254B;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) and (max-width: 970px) {
  .section-main__wrapper {
    width: 57%;
    padding: 25px 20px 0 20px;
    gap: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) and (max-width: 970px) {
  .section-main__wrapper {
    width: 100%;
    padding: 50px 70px 50px 60px;
    gap: 20px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) and (max-width: 970px) {
  .section-main__wrapper {
    width: 100%;
    padding: 50px 40px 50px 40px;
    gap: 20px;
  }
}
@media only screen and (max-width: 400px) and (max-width: 970px) {
  .section-main__wrapper {
    width: 100%;
    padding: 50px 40px 50px 40px;
    gap: 20px;
  }
}

.section-main__p {
  font-size: 24px;
  font-weight: 400;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) and (max-width: 970px) {
  .section-main__p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) and (max-width: 970px) {
  .section-main__p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 400px) and (max-width: 970px) {
  .section-main__p {
    font-size: 15px;
  }
}

.section-main__p-cooperation {
  font-size: 20px;
  font-weight: 300;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) and (max-width: 970px) {
  .section-main__p-cooperation {
    font-size: 16px;
  }
}
@media only screen and (min-width: 757px) and (max-width: 1299px) and (max-width: 970px) {
  .section-main__p-cooperation {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .section-main__p-cooperation {
    font-size: 15px;
  }
}

.buildingPng {
  overflow: hidden;
  width: 256px;
  margin-left: auto;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .buildingPng {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .buildingPng {
    display: none;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .buildingPng {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .buildingPng {
    display: none;
  }
}

section.room-section {
  height: 677px;
  width: 100%;
  background-color: #2A254B;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  section.room-section {
    aspect-ratio: 16/10;
    height: auto;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  section.room-section {
    aspect-ratio: 16/10;
    height: auto;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  section.room-section {
    aspect-ratio: 16/10;
    height: auto;
  }
}
@media only screen and (max-width: 400px) {
  section.room-section {
    aspect-ratio: 16/10;
    height: auto;
  }
}

.wrapper {
  margin-inline: auto;
  display: flex;
  gap: 160px;
}
.wrapper img {
  width: 281px;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .wrapper img {
    width: 100%;
  }
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .wrapper {
    gap: 10%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .wrapper {
    gap: 60px;
    flex-direction: column;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .wrapper {
    gap: 60px;
    flex-direction: column;
    margin-inline: auto;
  }
}
@media only screen and (max-width: 400px) {
  .wrapper {
    gap: 60px;
    flex-direction: column;
    margin-inline: auto;
  }
}

.room-container {
  color: white;
  width: 1200px;
  margin-inline: auto;
}
.room-container h2 {
  padding-block: 20px;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .room-container {
    width: 90%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .room-container {
    width: 90%;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .room-container {
    width: 90%;
    padding-bottom: 50px;
    margin-inline: auto;
  }
}
@media only screen and (max-width: 400px) {
  .room-container {
    width: 90%;
    padding-bottom: 50px;
    margin-inline: auto;
  }
}

.section {
  margin-inline: auto;
  margin-bottom: 60px;
  width: 1200px;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .section {
    width: 90%;
    aspect-ratio: 16/10;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .section {
    width: 90%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .section {
    width: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .section {
    width: 90%;
  }
}

.h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 70px;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .h2 {
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .h2 {
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .h2 {
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 400px) {
  .h2 {
    margin-bottom: 5%;
  }
}

.serv-card {
  justify-content: space-between;
  height: 630px;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .serv-card {
    width: 30%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .serv-card {
    height: auto;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .serv-card {
    height: auto;
  }
}
@media only screen and (max-width: 400px) {
  .serv-card {
    height: auto;
  }
}

.button {
  height: 56px;
  border: none;
  font-family: "Roboto", sansserif;
  font-size: 20px;
  font-weight: 200;
  background-color: rgb(249, 249, 249);
  color: black;
  width: 281px;
  cursor: pointer;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .button {
    width: 100%;
  }
}

#map {
  width: 100%;
  height: 600px;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  #map {
    height: 500px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  #map {
    height: 400px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  #map {
    height: 400px;
  }
}
@media only screen and (max-width: 400px) {
  #map {
    height: 400px;
  }
}

.footer-wrapper {
  height: auto;
  background-color: #2A254B;
  color: white;
  font-weight: 400;
}

.footer-container {
  width: 1200px;
  margin-inline: auto;
  height: auto;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .footer-container {
    width: 90%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .footer-container {
    width: 90%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .footer-container {
    width: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .footer-container {
    width: 90%;
  }
}

.upperWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4E4D93;
  padding: 15px;
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .upperWrapper {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .upperWrapper {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .upperWrapper {
    flex-direction: column-reverse;
    gap: 30px;
  }
}

.lowerWrapper {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 400px) {
  .lowerWrapper {
    flex-direction: column;
    gap: 20px;
  }
}

.locationFooter {
  display: flex;
  align-items: center;
}
.locationFooter img {
  width: 22px;
  margin-right: 10px;
}

.booking {
  display: flex;
  font-size: 20px;
}
.booking span:first-child {
  display: block;
  margin-block: auto;
  margin-right: 21px;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) and (max-width: 900px) {
  .booking {
    font-size: 16px;
  }
  .booking span:first-child {
    margin-right: 11px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .booking {
    font-size: 16px;
  }
  .booking span:first-child {
    margin-right: 11px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .booking {
    font-size: 16px;
  }
  .booking span:first-child {
    margin-right: 11px;
  }
}
@media only screen and (max-width: 400px) {
  .booking {
    font-size: 16px;
  }
  .booking span:first-child {
    margin-right: 11px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .booking > span {
    display: none !important;
  }
}
@media only screen and (max-width: 400px) {
  .booking > span {
    display: none !important;
  }
}

.phoneNums {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: underline;
  padding-left: 20px;
  border-left: 2px solid white;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) and (max-width: 900px) {
  .phoneNums {
    padding-left: 11px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) and (max-width: 900px) {
  .phoneNums {
    padding-left: 11px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) and (max-width: 900px) {
  .phoneNums {
    padding-left: 11px;
  }
}
@media only screen and (max-width: 400px) and (max-width: 900px) {
  .phoneNums {
    padding-left: 11px;
  }
}

.copyrights {
  display: flex;
  width: 150px;
  align-items: center;
}
.copyrights img {
  width: 22px;
  margin-right: 10px;
}

.refIcons {
  display: flex;
  gap: 30px;
  margin-right: 60px;
}
.refIcons img:last-child {
  width: 20px;
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .refIcons {
    margin-right: 0;
  }
}
@media only screen and (max-width: 400px) {
  .refIcons {
    margin-right: 0;
  }
}

.slider {
  position: relative;
  overflow: hidden;
  width: 43%;
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .slider {
    width: 43%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .slider {
    width: 100%;
    height: auto;
    aspect-ratio: 5/4;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .slider {
    width: 100%;
    height: auto;
    aspect-ratio: 5/4;
  }
}
@media only screen and (max-width: 400px) {
  .slider {
    width: 100%;
    height: auto;
    aspect-ratio: 5/4;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  object-fit: cover; /* Масштабирование, чтобы картинки не сжимались */
}

.slide.active {
  opacity: 1; /* Делает слайд видимым */
  z-index: 1;
}

.switch-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 520px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.65);
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .switch-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 30/4;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .switch-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 30/4;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .switch-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 30/4;
  }
}
@media only screen and (max-width: 400px) {
  .switch-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 30/4;
  }
}

.rightArrow {
  transform: rotate(180deg);
}

@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .arrow {
    width: 10%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .arrow {
    width: 10%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .arrow {
    width: 10%;
  }
}
@media only screen and (max-width: 400px) {
  .arrow {
    width: 10%;
  }
}

.menu-toggle {
  width: 180px;
  height: 60px;
  position: absolute;
  left: -100px;
  top: -25px;
}

.btn {
  width: 110px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #2A254B;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #2A254B;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.btn:hover {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Serif 4", "Inter", "system-ui", "Avenir", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */